.app-container {
  padding: var(--spacing-4);
  text-align: left;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-4);
}

.tips-list {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

.app-title {
  margin-bottom: var(--spacing-4);
}

.section {
  margin-bottom: var(--spacing-3);
}

.section-label {
  display: block;
  margin-bottom: var(--spacing-3);
  font-size: var(--font-3);
  font-weight: var(--font-weight-bold);
}

.input-textarea {
  width: 100%;
  padding: var(--spacing-3);
  font-size: var(--font-2);
  border: 1px solid var(--border);
  border-radius: var(--radii-default);
}

.button-custom {
  padding: var(--spacing-2) var(--spacing-4);
  font-size: var(--font-2);
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: var(--radii-default);
  cursor: pointer;
  margin-right: var(--spacing-3);
  transition: transform 0.125s ease-in-out;
}

.button-custom:hover {
  transform: scale(1.05);
}

.button-custom:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.card-custom {
  margin: var(--spacing-4) 0;
  padding: 0 var(--spacing-4);
  border: 1px solid var(--border);
  border-radius: var(--radii-default);
}

.tabs {
  display: flex;
  margin-bottom: var(--spacing-4);
}

.tab-button {
  padding: var(--spacing-2) var(--spacing-4);
  background: var(--sunken);
  color: var(--text);
  border: none;
  border-top-left-radius: var(--radii-default);
  border-top-right-radius: var(--radii-default);
  cursor: pointer;
  margin-right: var(--spacing-2);
}

.tab-button.active {
  background: var(--primary);
  color: var(--white);
}

.markdown-preview {
  padding: var(--spacing-5) var(--spacing-6);
  background: var(--sunken);
  border-radius: var(--radii-default);
  color: var(--text);
}

.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3,
.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
  margin: var(--spacing-3) 0;
}

.markdown-preview pre {
  border-radius: var(--radii-default);
  color: var(--white);
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: pre-wrap;
}

.code-block {
  background: var(--dark);
}

.inline-code {
  background: var(--sunken);
  padding: 0.25em 0.5em;
  border-radius: var(--radii-small);
}

.editor-container {
  height: 1000px;
}
